<div [id]="id"
     class="modal fixed inset-0 z-[999] flex flex-wrap h-full w-full justify-center"
     [ngClass]="{
       'lg:content-center': center,
       'lg:content-start pt-5': !center && height !== 'fill',
       'lg:content-start py-5': !center && height === 'fill'
     }">

  <!-- Apply Angular animation state trigger -->
  <div class="modal-content {{modalCss}}"
       [ngClass]="{'h-full': modalSize === 'fullscreen'}"
       [@modalState]="open ? 'open' : 'closed'">

    <!-- Content rendering based on contentType -->
    <div class="bg-white" [ngClass]="{'h-full': modalSize === 'fullscreen', 'rounded-[8px]': rounded, 'shadow-sm': modalSize !== 'fullscreen'}" [ngStyle]="{'height': modalSize !== 'fullscreen' ? height : ''}">
      @switch (contentType) {
        @case ('string') {
          <div [innerHTML]="content"></div>
        }
        @case ('template') {
          <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
        }
        @case ('component') {
          <ng-container *ngComponentOutlet="$any(content)"></ng-container>
        }
      }
    </div>
  </div>
</div>
